* {
  -moz-appearance: none;
  -moz-border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
    font-family: Gisha;
  margin: 0;
  padding: 0;  }

.cf {
  zoom: 1; }

.cf:after,
.cf:before {
  content: ' ';
  display: table; }

.cf:after {
  clear: both; }

a:link,
a:visited {
  color: inherit; }

a:hover,
a:active {
  outline: 0; }

a:focus {
  outline: thin dotted; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: Gisha;
}

h5 {
    color:#80807e;
    font:300 15px/1.4em museo-sans,sans-serif;
    right: 30px;
    position: relative;
}

img {
  border-style: none;
  vertical-align: bottom; }

fieldset {
  border-style: none; }

html, body {
  height: 100%; }

body {
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  background-color: #f8f8f8;
  font: normal normal 62.5%/1em 'Source Sans Pro', sans-serif;
  font-size: 62.5%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }



#no-script{background-color:#212328;color:#80807e;display:none;left:0;height:130px;position:fixed;top:0;width:100%;z-index:10000}
#no-script div{font-family: Gisha; font-size:14px;font-weight:300;line-height:1em;padding:60px;text-align:left;width:100%;}
#no-script a{color:#fff;text-decoration:underline;}
#no-script a:active,#no-script a:hover{color:#80807e;text-decoration:none;}
.no-js #no-script{display:block;}
.no-js body{margin-top:75px;}
#container{min-height:100%;position:relative; font-family: Gisha;}
section#content{padding-bottom:194px;}
section#content .strong{color:#212328;}
section#content header{padding:0 30px 30px; font-family: Gisha;}
section#content #pfd{padding:30px 0}
section#content #pfd img{height:127px;width:270px;margin-right:70px}
section#content #preamble,section#content article{max-width:1300px}
section#content #preamble h1,section#content article h1{color:#212328;font:300 22px/1.2em Source Sans Pro,sans-serif;padding-bottom:1em}
section#content #preamble h2,section#content article h2{color:#80807e; font-size: small/*font:300 15px/1.4em museo-sans,sans-serif*/;padding-bottom:0.5em}
section#content #preamble h3,section#content article h3{color:#212328;font:300 15px/1.4em museo-sans,sans-serif}
section#content #preamble p,section#content article p{color:#80807e;font:300 15px/1.2em Source Sans Pro,sans-serif;padding-bottom:1em}
section#content #preamble p.space-after,section#content article p.space-after{padding-bottom:50px}
section#content #preamble .em,section#content article .em{color:#80807e;font:300 22px/1.2em Source Sans Pro,sans-serif;padding-bottom:1em}
section#content #preamble a,section#content article a{border-bottom:1px solid #212328;color:#212328;text-decoration:none}
section#content #preamble a:hover,section#content article a:hover{border-bottom-color:#80807e;color:#80807e}
section#content #preamble.home h1{color:#80807e}
section#content #our-shows {zoom:1}
section#content #our-shows:after,section#content #our-shows:before{content:' ';display:table}
section#content #our-shows:after{clear:both}
section#content #our-shows {margin-bottom:0}
section#content #our-shows ul{list-style:none}
section#content #our-shows ul li{display:block;float:left;height:359px;width:449px;position:relative}
section#content #our-shows ul li a{text-decoration:none}
section#content #our-shows ul li img{width:100%}
section#content #our-shows ul li .overlay{background-color:rgba(248,129,75,.9);height:100%;left:0;position:absolute;top:0;width:100%;opacity:0;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
section#content #our-shows ul li .overlay:hover{background-color:rgba(248,129,75,.9);height:100%;left:0;position:absolute;top:0;width:100%;opacity:1;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
section#content #our-shows ul li .overlay summary{bottom:30px;left:60px;padding-right:30px;position:absolute}
section#content #our-shows ul li .overlay summary h2{background:url(../images/pfd-sprites.png) no-repeat left bottom;color:#fff;font:400 20px/1em Source Sans Pro,sans-serif;padding-bottom:15px}
section#content #our-shows ul li .overlay summary h3{color:#813815;font:300 15px/0.9em Source Sans Pro,sans-serif;padding-top:12px}
section#content #our-shows ul li .overlay .loves{-moz-borderradius:40px;-webkit-borderradius:40px;background-color:#fff;border-radius:40px;height:80px;position:absolute;right:60px;text-align:center;top:60px;width:80px}
section#content #our-shows ul li .overlay .loves span{background:transparent url(../images/ils221.png) no-repeat right ;color:#ed7b47;font:300 15px/1.4em museo-sans,sans-serif;line-height:80px;padding-right:25px}
section#content #work-bio #links #ilovethis.unloved,section#content #work-bio #links #ilovethis.notsigned:hover{background:#212328 url(../images/login.png) no-repeat center}
section#content #work-bio #links #ilovethis.unloved,section#content #work-bio #links #ilovethis.notsigned span{color:#fff; font-family: Gisha; font-size: large; margin-right: -30px}
section#content #pfd-work{position:relative;zoom:1}
section#content #pfd-work footer{bottom:-80px;padding:50px 60px 0;position:absolute;right:0}
section#content #pfd-work footer #other-projects{float:right;list-style:none}
section#content #pfd-work footer #other-projects li{float:left;margin-left:12px}
section#content #pfd-work footer #other-projects a{background:#f8f8f8 url(../images/pfd-sprites.png) no-repeat;display:block;height:30px;text-indent:-8000px;width:34px}
section#content #pfd-work footer #other-projects a.previous-work{background-position:0 -30px}
section#content #pfd-work footer #other-projects a.next-work{background-position:0 -60px}
section#content #pfd-work:after,section#content #pfd-work:before{content:' ';display:table}
section#content #pfd-work:after{clear:both}
section#content #work-bio{left:0;position:relative;top:0;width:40%}
/*section#myShowList {right:30px ;position:relative;top:0;width:40%}*/
section#content #work-bio #preamble h1{line-height:1em;padding-bottom:0}
section#content #work-bio #preamble h2,section#content #work-bio #preamble p.space-after{padding-bottom:50px}
section#content #work-bio #links{height:80px;list-style:none;margin:40px 0}
section#content #work-bio #links li{float:left;margin-right:40px}
section#content #work-bio #links #ilovethis{-moz-borderradius:40px;-webkit-borderradius:40px;background-color:#fc3e3c;border-radius:40px;cursor:pointer;display:block;height:80px;text-align:center;width:80px}
section#content #work-bio #links #ilovethis span{background:transparent;color:#fff;font:300 15px/1.4em museo-sans,sans-serif;line-height:80px;padding-right:25px}
section#content #work-bio #links #ilovethis.unloved,section#content #work-bio #links #ilovethis.signed:hover{background:#212328 url(../images/buy.png) no-repeat center}
section#content #work-bio #links #ilovethis.unloved span,section#content #work-bio #links #ilovethis:hover span{display:none}
section#content #work-bio #links #ilovethis.signed span{color:#fff; font-family: Gisha; font-size: large; margin-right: -30px}
section#content #work-bio #links #contactSeller span{color:#fff; font-family: Gisha; font-size: large; margin-right: -30px}
section#content #work-bio #links #contactSeller span{background:transparent;color:#fff;font:300 15px/1.4em museo-sans,sans-serif;line-height:80px;padding-right:25px}
section#content #work-bio #links #contactSeller{-moz-borderradius:40px;-webkit-borderradius:40px;background-color:#fc3e3c;background:#fc3e3c url(../images/contact.png) no-repeat center;border-radius:40px;cursor:pointer;display:block;height:80px;text-align:center;width:80px}
section#content #work-bio #links #contactSeller.unloved,section#content #work-bio #links #contactSeller:hover{background:#212328 url(../images/sendMsg.png) no-repeat center}

/*section#content #work-bio #links #ilovethis.loved:hover{background-image:none}*/
section#content #work-bio #links #ilovethis.loved span{color:#fff; font-family: Gisha; font-size: large; margin-right: -30px}
section#content #work-bio #links #home{-moz-borderradius:40px;-webkit-borderradius:40px;background:#fc3e3c url(../images/home2.png) no-repeat center;border-radius:40px;cursor:pointer;display:block;height:80px;text-indent:-8000px;width:80px}
section#content #work-bio #links #priceStatic{-moz-borderradius:40px;-webkit-borderradius:40px;background-color:#fc3e3c;border-radius:40px;cursor:pointer;display:block;height:80px;text-align:center;width:80px}
section#content #work-bio #links #priceStatic span{color:#fff ; font-family: Gisha; font-size:large; line-height:80px;}
section#content #work-visuals{float:right;width:60%}
section#content #work-visuals ul{list-style:none}
section#content #work-visuals ul li{line-height:0;margin-bottom:10px}
section#content #work-visuals ul li img{width:100%}
section#content #preamble a.read-more{border-style:none;color:#212328;text-decoration:none; font-size: large; font-family: Gisha;}  section#content #preamble a.read-more:hover{color:#80807e}
section #what-we-do header{background:transparent url(../images/concert_crowd.jpg) no-repeat 50% bottom fixed;padding:0 60px}
section#content #what-we-do header #preamble{padding-bottom:60px}
section #what-we-do article{padding:120px 60px}
section #what-we-do article h2{color:#212328;font:300 22px/1.2em Source Sans Pro,sans-serif}
section#content footer#msf{bottom:0;left:0;position:absolute;width:100%;height: auto !important;}
footer#msf .wrapper{border-top:1px solid #e4e4e4;height:73px;margin:0 60px}
footer#msf ul#lets-be-social{float:left;width:230px;list-style:none}
footer#msf ul#lets-be-social li{float:left;padding-right:8px}
footer#msf div#legal{float:right;font:400 15px/1em Source Sans Pro,sans-serif;text-align:right;width:300px}
footer#msf div#legal span{padding-right:36px}
footer#msf li a,footer#msf span{line-height:73px}
footer#msf #legal span{line-height:20px;margin-top:20px;display:block;}
footer#msf a{font:300 14px museo-sans,sans-serif;text-decoration:none}
footer#msf a:hover{color:#80807e}
nav#toc{background-color:#212328;height:100%;position:fixed;right:-240px;top:0;width:240px}
nav#toc ul{list-style:none;padding:60px 40px 0}
nav#toc ul li{border-top:1px solid #424650;padding:4px 0 5px}
nav#toc ul li a{color:#80807e;font:300 15px/2em museo-sans,sans-serif;text-decoration:none}
nav#toc ul li a.active,nav#toc ul li a:hover{color:#fff}  nav#toc ul li:first-child{border-top:none}
nav#toc a#toc-actuator{background:#f8f8f8 url(../images/pfd-sprites.png) no-repeat left top;cursor:pointer;display:block;height:30px;left:-94px;position:absolute;text-indent:-8000px;top:60px;width:34px;z-index:5000}
@media screen and (max-width:1200px){footer#msf .wrapper{margin:0 30px}  section#content header{padding:0 30px 60px}  section#content #pfd{padding-top:30px}  section#content #our-shows ul li .overlay summary{left:30px}  section#content #our-shows ul li .overlay .loves{right:30px;top:30px}  section#content #pfd-work footer{padding:50px 30px 0}  section#content #what-we-do header{padding:0 30px}  section#content #what-we-do article{padding:120px 30px}  section#content #what-we-do #web-design .parallax{background:#ededeb url(/images/logo.png) no-repeat 50% 0!important;height:750px}  section#content #what-we-do #identity article{padding:120px 30px}  nav#toc ul{padding-top:30px}  nav#toc a#toc-actuator{left:-64px;top:30px}}@media screen and (max-width:768px){section#content #work-bio{float:none;position:relative;width:auto}  section#content #work-visuals{float:none;width:auto}  section#content #pfd-work #links{display:none}  section#content #what-we-do section{height:auto!important}  section#content #what-we-do section article{padding:60px 30px}  section#content #what-we-do #web-design .parallax{background:#ededeb url(/images/logo.png) no-repeat 50% 0!important;height:460px}  section#content #what-we-do #identity{border-bottom:none}  section#content #what-we-do #identity article{padding:60px 30px}  section#content #pfd-about #example-photographs li,section#content #what-we-do #photography #example-photographs li{width:100%!important}  section#content p.em{font:300 15px/1.4em museo-sans,sans-serif!important}}@media screen and (max-width:460px){section#content{padding-bottom:234px}section#content #what-we-do #photography #example-photographs li{min-height:50px}footer#msf .wrapper{padding:20px 0}footer#msf ul#lets-be-social{float:none;width:auto;zoom:1}footer#msf ul#lets-be-social:after,footer#msf ul#lets-be-social:before{content:' ';display:table}footer#msf ul#lets-be-social:after{clear:both}footer#msf div#legal{float:none;width:auto}footer#msf div#legal span{display:block;padding-left:0;text-align:left}footer#msf li a,footer#msf span{line-height:2em}}
footer#msf{bottom:0;left:0;position:absolute;width:100%;height: auto !important;}

.button{
    font-family: Gisha;
    -webkit-appearance: none;
    font-size: 1.5em;
    width: 8%;
    height: 5%;
    color: #FA8072;
    background-color: #f8f8f8;
    padding-bottom:3px;
    padding-top:3px;
    border: solid 1.5px #778899;
    border-radius: 4px;
 }

.buttonStatic{
    font-family: Gisha;
    -webkit-appearance: none;
    font-size: 1.5em;
    width: 45px;
    height: 30px;
    color: #FA8072;
    background-color: #f8f8f8;
    padding-bottom:3px;
    padding-top:3px;
    border: solid 1.5px #778899;
    border-radius: 4px;
}

.buttonSmallWindow{
    font-family: Gisha;
    -webkit-appearance: none;
    font-size: 1.5em;
    width: 50px;
    height: 30px;
    color: #FA8072;
    float:left;
    position: fixed;
    left:20px;
    bottom:20px;
    background-color: #f8f8f8;
    margin-top:10px;
    padding-bottom:3px;
    padding-top:3px;
    border: solid 1.5px #778899;
    border-radius: 4px;
}

textarea#message{
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div#message{
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.seeAllButton{
    font-family: Gisha;
    -webkit-appearance: none;
    font-size: 1.5em;
    width: 90px;
    height: 35px;
    color: #FA8072;
    background-color: #f8f8f8;
    position: relative;
    bottom:5px;
    right: 370px;
    border: solid 1.5px #778899;
    border-radius: 4px;
}


h4{color:#80807e;font:300 15px/1.4em museo-sans,sans-serif;}

.msgLabel{
    font-family: Gisha;
    font-size: 1.5em;
    color: lightslategrey;
    padding-right:20px;
}

.msgData{
    font-family: Gisha;
    font-size: 1.8em;
    color: rgba(4, 2, 2, 0.99);
    padding-right:30px;
}

#buttonUpdateShow, #buttonGoToUpdate, #buttonDeleteShow{
    font-family: Gisha;
    -webkit-appearance: none;
    float: left;
    font-size: 1.5em;
    width: 14%;
    height: 5%;
    color: #FA8072;
    background-color: #f8f8f8;
    padding-bottom:3px;
    padding-top:3px;
    border: solid 1.5px #778899;
    border-radius: 4px;
}

#buttonLoginWindow, #buttonSingupWindow, #buttonLogOutWindow {
    font-family: Gisha;
    -webkit-appearance: none;
    float: left;
    font-size: 1.5em;
    width: 8%;
    height: 5%;
    color: #FA8072;
    background-color: #f8f8f8;
    padding-bottom:3px;
    padding-top:3px;
    border: solid 1.5px #778899;
    border-radius: 4px;
}

#searchBar{
    font-family: Gisha;
    -webkit-appearance: none;
    font-size: 1.5em;
    width: 50%;
    height: 5%;
    padding-bottom:3px;
    padding-top:3px;
    border: solid 1.5px #778899;
    border-radius: 4px;
}

.loginForm, .signupForm, .addShowForm, .updateShowForm{
    font-size: 1.5em;
    text-align: right;
    font-family: Gisha;
    padding-right: 25px;
}
.inputBoxUpdate{
    font-family: Gisha;
    font-size: 1.5em;
    width: 70%;
    height: 5%;
    padding-bottom:3px;
    padding-top:3px;
    border: solid 1.5px #778899;
    border-radius: 4px;
    right: 500px;
    offset-start: 25px;
}

.inputBox{
    font-family: Gisha;
    font-size: 1.5em;
    width: 30%;
    height: 5%;
    padding-bottom:3px;
    padding-top:3px;
    border: solid 1.5px #778899;
    border-radius: 4px;
    right: 500px;
    offset-start: 25px;
}

.inputBoxStatic{
    font-family: Gisha;
    font-size: 1.5em;
    width: 150px;
    height: 20px;
    padding-bottom:3px;
    padding-top:3px;
    border: solid 1.5px #778899;
    border-radius: 4px;
    right: 500px;
    offset-start: 25px;
}

.headerData{
    font-family: Gisha;
    -webkit-appearance: none;
    float: left;
    font-size: 1.5em;
    width: 8%;
    height: 5%;
    color: #778899;
    background-color: #f8f8f8;
    padding-bottom:5px;
    padding-top:8px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.showList {
    float: right;
    right: 20px;
    position: fixed; !important;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; !important;
}

.indexPic {
    width: auto;
    height: 360px; !important;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin: auto;
}

.showListPic {
    width: 220px;
    height: 160px; !important;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin: auto;
}

.showListPicListPage {
    width: 220px;
    height: 160px; !important;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin: auto;
    padding-right: 20px;
}

.showProfilePic {
    width: 160px;
    height: 100px; !important;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin: 5px;

}

.showPagePic {
    width: 1600px; !important;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin: auto;
}

.showBox {
    font-family: Gisha;
    width: 100%;
    height:auto;
    -webkit-appearance: none;
    background-color: #f8f8f8;
    position: relative;
    top: 30px;
    padding-bottom:20px;
    padding-top:5px;
    margin-bottom: 30px;
    margin-inside: 150px;
    border: solid 1.5px #778899;
    border-radius: 10px;
}

.showBoxListPage{
    font-family: Gisha;
    width: 47%;
    height:auto;
    -webkit-appearance: none;
    font-size: 1em;
    background-color: #f8efed;
    position: relative;
    top: 30px;
    padding-bottom:20px;
    padding-top:20px;
    margin-bottom: 20px;
    border: solid 1px rgba(99, 207, 202, 0.63);
    border-radius: 10px;
}

.title{
    font-family: Gisha;
    font-size: 3em;
    color: dimgrey;
    position: relative;
    top: 20px;
    right: 100px;
    padding-bottom: 20px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Modal Header */
.modal-header {
    padding: 20px 16px;
    background-color: #e87056;
}

/* Modal Body */
.modal-body {padding: 40px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 20px 16px;
    background-color: #e87056;
}

/* Modal Content */
.modal-content {
    font-family: Gisha;
    font-size: 2em;
    text-align: center;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding-bottom:20px;
}

.tinyButton{
    font-family: Gisha;
    -webkit-appearance: none;
    -moz-appearance: button;
    float: right;
    font-size: 0.8em;
    width: 3%;
    height: 4%;
    color: #212328;
    background-color: #fbfbfb;
    padding-bottom:3px;
    padding-top:3px;
    border: solid 1px #aaaaaa;
    border-radius: 2px;
}

#comboBox{
    font-family: Gisha;
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    border: 1px solid #AAA; !important;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); !important;
    color: #555; !important;
    font-size: 1.5em; !important;
    width: 10%; !important;
    height: 50%; !important;
}

.DivToScroll{
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-family: Gisha;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    overflow:scroll;
    overflow-x:hidden;
    height:72px;
    alignment: right;
}

#LoadMoreContainer {
    align-items: center;
    text-align:center;
    padding-top: 30px
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.disable{
    background-color:#dfdddd;
}

.msgTable {
    font-family: Gisha;
    border-collapse: collapse;
    width: 100%;
}
/*td*/
.msgTableElem {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
}
/*th*/
.msgTableElemTitle {
    border: 1px solid #dddddd;
    text-align: right;
    background-color: lavenderblush;
    padding: 8px;
}

.msgTableTr:hover {
    background-color: #FA8072;
}
/*tr*/
.msgTableToggleColor:nth-child(even) {
    background-color: #dddddd;
}